<div class="footer bg-gray-800 lg:flex lg:flex-col text-white text-xl lg:items-center lg:justify-center h-40">
    <h2> Developed with Love By <span class="text-yellow-600 font-semibold text-2xl">Aryan Singh</span></h2>
    <h2> 9833924584</h2>
    <h2> saryan72881@gmail.com</h2>
 </div>