<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"> </script>
    <title>Home</title>
</head>
<body class="">
    <div class="flex flex-col items-center justify-center">
        <div class="text-2xl font-bold">
            NOT AUTHORIZED 
        </div>
        <img  class="h-[500px] w-[500px]" src="/images/lock.png" alt="">
        <p>You are not Authorized to View this Page</p>
        <a class="p-2 bg-black text-white rounded-md" href="/">
            Go Back
        </a>
    </div>
</body>
</html>