<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"> </script>
    <title>Home</title>
</head>
<body class="bg-gray-100">
    <%-include("../partials/navbar.ejs")%>
    <div class="flex flex-row justify-center h-[30rem]  items-center">
       <div  class="flex flex-col border-black shadow-2xl h-72 my-4 justify-around w-80 rounded-md bg-white">
           <div class="text-center font-bold text-xl">
              Upload Your Profile Photo
           </div>
           <div class="text-center flex flex-row justify-center text-red-500 text-lg">
            <%if(error!=''){%>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                    <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zM12 8.25a.75.75 0 01.75.75v3.75a.75.75 0 01-1.5 0V9a.75.75 0 01.75-.75zm0 8.25a.75.75 0 100-1.5.75.75 0 000 1.5z" clip-rule="evenodd" />
                  </svg> &nbsp;                 
            <%}%>
            <%=error%>
           </div>
           <form  action="/api/v1/users/profile-photo-upload?_method=PUT" class="mx-5" method="post" enctype="multipart/form-data">
               <input type="file" placeholder="Profile Image" name="profile" class="border-2 border-purple-600 rounded-lg  py-4 my-1"><br>
               <button class="bg-orange-500 text-white px-10 py-3 rounded-lg text-center w-[16.5rem] mt-2 hover:bg-purple-600 hover:text-white">Submit</button>
           </form>
       </div>
    </div>
    <%-include("../partials/footer.ejs")%>
</body>
</html>